.item-entry {
	margin: 10px;
	padding: 10px;
	border: 2px solid red;
	background-color: aliceblue;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item-subtype {

}

.item-type {

}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
